<div id="navi-wrapper">
  <div id="navi"><h1>BUSINESS AREAS</h1></div>
</div>
<div id="content-wrapper">
  <div id="content">
    <div class="location">
      <ul>
        <li class="zh"><%= link_to '首页', root_path %> &gt; 业务领域</li>
        <li class="en"><%= link_to 'Home', root_path %> &gt; Business Areas</li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="business">
        <div class="item red">
          <h2>◆ 房地产开发 - Real Estate Development</h2>
          <ul>
            <% @real_estate_projects.each do |real_estate_project| %>
            <li>
              <h3><%= link_to real_estate_project.name, real_estate_project %></h3>
              <div class="image">
                <div class="cover"></div>
                <%= link_to image_tag(real_estate_project.cover_image), real_estate_project %>
              </div>
              <p><%= indent_tag real_estate_project.description.strip_tags.strip.truncate(66) %></p>
              <%= link_to 'more', real_estate_project, class: 'more' %>
            </li>
            <% end %>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="item fi">
          <h2>◆ 基金投资 - Fund Investment</h2>
          <ul>
            <li>
              <h3>启明创投</h3>
              <p>启明创投成立于2006年2月，是一家中国领先的风险投资机构，在上海、北京和香港设有办公室。启明创投旗下管理五支基金，资金总额超过11亿美元。 启明创投专注于媒体和互联网、信息技术、消费者和零售业、医疗保健以及清洁能源等行业早期和成长期企业的投资。</p>
            </li>
            <li>
              <h3>启迪创投</h3>
              <p>启迪创投依托清华大学的丰富资源，是清华产业体系中专注于创业投资的行业领先机构。在十余年的创业投资及企业孵化历史中，启迪创投从无到有，从小到大，从弱到强，已经完成对近百家创业企业的投资，并取得了丰厚的投资回报。</p>
              <p>启迪创投专注的投资方向以信息技术、先进制造、新材料、生命科学、清洁技术、文化传媒和现代服务业等领域为主，并在这些领域里积累了丰富的资源和投资经验。</p>
            </li>
          </ul>
        </div>
        <div class="item ei">
          <h2>◆ 股权投资 - Equity Investment</h2>
          <ul>
            <li><h3>与北京建工集团合作成立 - 北京建工建邦投资发展有限责任公司</h3></li>
            <li><h3>与北京建工集团合作成立 - 北京国际建设集团有限公司</h3></li>
            <li><h3>与北京首农集团合作成立 - 北京方泽融坤投资发展有限公司</h3></li>
          </ul>
          <div class="zgb4us"></div>
          <div class="clear"></div>
        </div>
        <div class="item acp">
          <h2>◆ 代建项目 - Agency Construction Projects</h2>
          <ul>
            <li>
              <%= link_to image_tag('business_acp_01.png') %>
              <h3><%= link_to '安捷伦北京研发中心' %></h3>
              <p>项目名称：安捷伦北京研发中心</p>
              <p>建筑面积：31,205平方米</p>
              <p>竣工时间：2006年</p>
            </li>
            <li>
              <%= link_to image_tag('business_acp_02.png') %>
              <h3><%= link_to '诺基亚中国区总部' %></h3>
              <p>项目名称：诺基亚中国区总部</p>
              <p>建筑面积：77,268平方米</p>
              <p>竣工时间：2008年</p>
            </li>
            <li>
              <%= link_to image_tag('business_acp_03.png') %>
              <h3><%= link_to '微软亚太研发集团' %></h3>
              <p>项目名称：微软亚太研发集团</p>
              <p>建筑面积：140,000平方米</p>
              <p>竣工时间：2010年</p>
            </li>
            <li>
              <%= link_to image_tag('business_acp_04.png') %>
              <h3><%= link_to '甲骨文（软件）研发中心' %></h3>
              <p>项目名称：甲骨文研发中心</p>
              <p>建筑面积：29,000平方米</p>
              <p>竣工时间：2011年</p>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>