<div class="chaos-panel grid_8">
  <div class="chaos-panel-header">
    <span>房地产项目列表</span>
  </div>
  <div class="chaos-panel-toolbar">
    <div class="btn-toolbar">
      <div class="btn-group">
        <%= chaos_toolbar_to '<i class="icol-pencil"></i> 添加', new_admin_real_estate_project_path %>
        <%= chaos_toolbar_to '<i class="icol-magnifier"></i> 搜索' %>
      </div>
    </div>
  </div>
  <div class="chaos-panel-body no-padding">
    <table class="chaos-table">
      <thead>
        <tr>
          <th>封面图片</th>
          <th>名称</th>
          <th class="action">操作</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3"><%= chaos_paginate @real_estate_projects %></td>
        </tr>
      </tfoot>
      <tbody>
      <% @real_estate_projects.each do |real_estate_project| %>
      <tr>
        <td><%= chaos_image_tag real_estate_project.cover_image, size: '218x158' %></td>
        <td><%= real_estate_project.name.truncate(32) %></td>
        <td>
          <%= chaos_button_to_show url_for([:admin, real_estate_project]) %>
          <%= chaos_button_to_edit edit_admin_real_estate_project_path(real_estate_project) %>
          <%= chaos_button_to_destroy url_for([:admin, real_estate_project]) %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>