<div class="chaos-panel grid_8">
  <div class="chaos-panel-header">
    <span>附件列表</span>
  </div>
  <div class="chaos-panel-toolbar">
    <div class="btn-toolbar">
      <div class="btn-group">
        <%= chaos_toolbar_to '<i class="icol-pencil"></i> 添加', new_admin_attachment_path %>
        <%= chaos_toolbar_to '<i class="icol-magnifier"></i> 搜索' %>
      </div>
    </div>
  </div>
  <div class="chaos-panel-body no-padding">
    <table class="chaos-table">
      <thead>
        <tr>
          <th>名称</th>
          <th>URI</th>
          <th class="action">操作</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3"><%= chaos_paginate @attachments %></td>
        </tr>
      </tfoot>
      <tbody>
      <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.name.truncate(32) %></td>
        <td><%= attachment.file.url %></td>
        <td>
          <%= chaos_button_to_show url_for([:admin, attachment]) %>
          <%= chaos_button_to_edit edit_admin_attachment_path(attachment) %>
          <%= chaos_button_to_destroy url_for([:admin, attachment]) %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>