<div id="navi-wrapper">
  <div id="navi"><h1>COMPANY UPDATE</h1></div>
</div>
<div id="content-wrapper">
  <div id="content">
    <div class="location">
      <ul>
        <li class="zh"><%= link_to '首页', root_path %> &gt; 公司动态</li>
        <li class="en"><%= link_to 'Home', root_path %> &gt; News</li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="news-show">
        <div class="left">
          <h1><%= @article.title %></h1>
          <div class"content"><%= raw @article.content %></div>
        </div>
        <div class="right">
          <%= link_to image_tag('ico_weibo.png') %>
          <ul>
            <li class="zh">把这则新闻分享给朋友们！</li>
            <li>Share this news to friends!</li>
          </ul>
        </div>
        <%= javascript_tag do %>
        if ($('div.news-show div.left').height() < $('div.news-show div.right').height()) {
          $('div.news-show div.left').css('height', $('div.news-show div.right').height());
        }
        <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>