<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>ZGB ManagementSystem</title>
	<%= stylesheet_link_tag 'admin', :media => "all" %>
	<%= javascript_include_tag 'admin' %>
</head>
<body>
	<div id="chaos-header" class="clearfix">
		<div id="chaos-logo-container">
			<div id="chaos-logo-wrap">
				<h1><span>ZGB</span>ManagementSystem</h1>
			</div>
		</div>
		<div id="chaos-user-tools" class="clearfix">
			<div id="chaos-user-notif" class="chaos-dropdown-menu">
				<a href="#" data-toggle="dropdown" class="chaos-dropdown-trigger"><i class="icon-exclamation-sign"></i></a>
				<span class="chaos-dropdown-notif"><%#= @unread_notifications_count %>0</span>
				<div class="chaos-dropdown-box">
					<div class="chaos-dropdown-content">
						<ul class="chaos-notifications">
						  <%# @dropdown_notifications.each do |notification| %>
							<!--li>
								<a href="<%#= url_for [:admin, notification] %>">
									<span class="message"><%#= notification.title %></span>
									<span class="time"><%#= notification.created_at %></span>
								</a>
							</li-->
							<%# end %>
						<div class="chaos-dropdown-viewall">
							<%#= link_to '查看所有通知', admin_notifications_path %>
						</div>
					</div>
				</div>
			</div>
			<div id="chaos-user-message" class="chaos-dropdown-menu">
				<a href="#" data-toggle="dropdown" class="chaos-dropdown-trigger"><i class="icon-envelope"></i></a>
				<span class="chaos-dropdown-notif">0</span>
				<div class="chaos-dropdown-box">
					<div class="chaos-dropdown-content">
						<ul class="chaos-messages">
							<!--li class="read">
								<a href="#">
									<span class="sender">John Doe</span>
									<span class="message">Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore</span>
									<span class="time">January 21, 2012</span>
								</a>
							</li>
							<li class="read">
								<a href="#">
									<span class="sender">John Doe</span>
									<span class="message">Lorem ipsum dolor sit amet</span>
									<span class="time">January 21, 2012</span>
								</a>
							</li>
							<li class="unread">
								<a href="#">
									<span class="sender">John Doe</span>
									<span class="message">Lorem ipsum dolor sit amet</span>
									<span class="time">January 21, 2012</span>
								</a>
							</li>
							<li class="unread">
								<a href="#">
									<span class="sender">John Doe</span>
									<span class="message">Lorem ipsum dolor sit amet</span>
									<span class="time">January 21, 2012</span>
								</a>
							</li>
							<li class="unread">
								<a href="#">
									<span class="sender">John Doe</span>
									<span class="message">Lorem ipsum dolor sit amet</span>
									<span class="time">January 21, 2012</span>
								</a>
							</li-->
						</ul>
						<div class="chaos-dropdown-viewall">
							<a href="#">查看所有信息</a>
						</div>
					</div>
				</div>
			</div>
			<div id="chaos-user-info" class="chaos-inset">
				<div id="chaos-user-photo"><%= image_tag 'admin/chaos-default-portrait.png' %></div>
				<div id="chaos-user-functions">
					<div id="chaos-account">欢迎您，<%#= session[:administrator][:name]%></div>
					<ul>
						<li><%= link_to '我的账号', edit_admin_profile_path %></li>
						<li><%= link_to '修改密码', edit_password_admin_profile_path %></li>
						<li><%= link_to '退出', admin_signout_path %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="chaos-wrapper">
		<div id="chaos-sidebar-stitch"></div>
		<div id="chaos-sidebar-bg"></div>
		<div id="chaos-sidebar">
			<div id="chaos-nav-collapse">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="chaos-navigation">
				<ul>
					<li>
					 <%= link_to '控制面板', admin_dashboard_path %>
					</li>
					<li>
						<a href="#">海报管理</a>
						<ul>
							<li><%= link_to '海报列表', admin_posters_path %></li>
							<li><%= link_to '添加海报', new_admin_poster_path %></li>
						</ul>
					</li>
					<li>
						<a href="#">文章管理</a>
						<ul>
							<li><%= link_to '文章列表', admin_articles_path %></li>
							<li><%= link_to '添加文章', new_admin_article_path %></li>
						</ul>
					</li>
					<li>
						<a href="#">附件管理</a>
						<ul>
							<li><%= link_to '附件列表', admin_attachments_path %></li>
							<li><%= link_to '添加附件', new_admin_attachment_path %></li>
						</ul>
					</li>
					<li>
						<a href="#">房地产项目管理</a>
						<ul>
							<li><%= link_to '房地产项目列表', admin_real_estate_projects_path %></li>
							<li><%= link_to '添加房地产项目', new_admin_real_estate_project_path %></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div id="chaos-container" class="clearfix">
			<div class="container">
				<%= yield %>
			</div>
			<div id="chaos-footer">Copyright ZBG 2013-2014. All Rights Reserved.</div>
		</div>
	</div>
</body>
</html>