<div id="navi-wrapper">
  <div id="navi"><h1>REAL ESTATE DEVELOPMENT</h1></div>
</div>
<div id="content-wrapper">
  <div id="content">
    <div class="location">
      <ul>
        <li class="zh"><%= link_to '首页', root_path %> &gt; <%= link_to '业务领域', business_areas_path %> &gt; 房地产开发</li>
        <li class="en"><%= link_to 'Home', root_path %> &gt; <%= link_to 'Business Introduction', business_areas_path %> &gt; Real Estate Development</li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="real-estate">
        <div class="left">
          <h1><%= @real_estate_project.name %></h1>
          <div class="preview"><%= image_tag @real_estate_project.preview_image %></div>
          <div class="description"><%= raw @real_estate_project.description %></div>
          <div class="clear"></div>
          <div class="panaorama"><%= image_tag @real_estate_project.panaorama_image %></div>
        </div>
        <div class="right">
          <%= link_to image_tag('ico_weibo.png') %>
          <ul>
            <li class="zh">把这个项目分享给朋友们！</li>
            <li>Share this project to friends!</li>
          </ul>
          <%= raw @real_estate_project.en_description %>
        </div>
        <%= javascript_tag do %>
        if ($('div.real-estate div.left').height() < $('div.real-estate div.right').height()) {
          $('div.real-estate div.left').css('height', $('div.real-estate div.right').height());
        }
        <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>