<!DOCTYPE html>
<html>
<head>
  <title>中冠宝投资有限责任公司 | ZGB investment company limited.</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div id="container">
    <div id="header-wrapper">
      <div id="header">
        <%= image_tag('ico_logo.png') unless current_page?(controller: 'home', action: 'index') %>
        <ul>
          <li<%= current_tag :home %>><%= link_to '首页', root_path %></li>
          <li>\</li>
          <li<%= current_tag :about_us %>><%= link_to '公司简介', about_us_path %></li>
          <li>\</li>
          <li<%= current_tag :business_areas %>><%= link_to '业务领域', business_areas_path %></li>
          <li>\</li>
          <li<%= current_tag :articles %>><%= link_to '公司动态', articles_path %></li>
          <li>\</li>
          <li<%= current_tag :human_resources %>><%= link_to '人力资源', human_resources_path %></li>
          <li>\</li>
          <li<%= current_tag :contact_us %>><%= link_to '联系我们', contact_us_path %></li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <%= yield %>
    <div id="footer-wrapper">
      <div id="footer">
        <div class="link">
          <ul>
            <li><%= link_to 'main page', root_path %></li>
            <li>|</li>
            <li><%= link_to 'co. brief', about_us_path %></li>
            <li>|</li>
            <li><%= link_to 'business introduction', business_areas_path %></li>
            <li>|</li>
            <li><%= link_to 'co. update', articles_path %></li>
            <li>|</li>
            <li><%= link_to 'human resources', human_resources_path %></li>
            <li>|</li>
            <li><%= link_to 'contact us', contact_us_path %></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="news">
          Latest News:
          <ul id="latest-news">
            <% @footer_articles.each do |article| %>
            <li><%= link_to article.title, article, target: '_blank' %></li>
            <% end %>
          </ul>
          <%= javascript_tag do %>
          $(function(){
          	var _wrap=$('#latest-news');
          	var _interval=2000;
          	var _moving;
          	_wrap.hover(function(){
          		clearInterval(_moving);
          	},function(){
          		_moving=setInterval(function(){
          			var _field=_wrap.find('li:first');
          			var _h=_field.height();
          			_field.animate({marginTop:-_h+'px'},600,function(){
          				_field.css('marginTop',0).appendTo(_wrap);
          			})
          		},_interval)
          	}).trigger('mouseleave');
          });
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
