<!DOCTYPE html>
<html>
<head>
  <title>北京中冠宝投资有限责任公司</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div id="container">
    <div id="header-wrapper">
      <div id="header">
        <%= image_tag('ico_logo.png') unless current_page?(controller: 'home', action: 'index') %>
        <ul>
          <li><%= link_to '首页', root_path %></li>
          <li>\</li>
          <li><%= link_to '公司简介', about_us_path %></li>
          <li>\</li>
          <li><%= link_to '业务领域', business_areas_path %></li>
          <li>\</li>
          <li><%= link_to '公司动态', articles_path %></li>
          <li>\</li>
          <li><%= link_to '人力资源', human_resources_path %></li>
          <li>\</li>
          <li><%= link_to '联系我们', contact_us_path %></li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <%= yield %>
    <div id="footer-wrapper">
      <div id="footer">
        <div class="link">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li>|</li>
            <li><%= link_to 'About Us', about_us_path %></li>
            <li>|</li>
            <li><%= link_to 'Business Area', business_areas_path %></li>
            <li>|</li>
            <li><%= link_to 'News', articles_path %></li>
            <li>|</li>
            <li><%= link_to 'Human Resources', human_resources_path %></li>
            <li>|</li>
            <li><%= link_to 'Contact Us', contact_us_path %></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="news">
          Latest News:
        </div>
      </div>
    </div>
  </div>
</body>
</html>
